<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--
    add key="Uri" value="https://icrs.demo.nbki.ru/products/B2BRequestServlet" />
    -->
    <add key="Uri" value="https://icrs.nbki.ru/products/B2BRequestServlet" />
    
    <!-- Source files path -->
    <add key="Requests" value="." />
    
    <!-- Backup path of source files -->
    <add key="RequestsBAK" value="REQ" />
    
    <!-- Error path of source files -->
    <add key="ErrorsBAK" value="ERR" />
    
    <!-- Result XML files-->
    <add key="Results" value="XML" />

    <!-- Extra Result 000 XML files-->
    <add key="ExtraResults" value="XML\Extra" />

    <!-- NBKI user credentials -->
    <add key="MemberCode" value="" />
    <add key="UserID" value="" />
    <!-- Use also CLI Password=**** -->
    <add key="Password" value="" />

    <!-- Options (1 or default 0)-->
    <add key="Request" value="0" />
    <add key="SaveSigned" value="1" />
    <add key="Extract" value="1" />
    <add key="ActiveOnly" value="1" />
    <add key="PressEnter" value="1" />
  </appSettings>
</configuration>