<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--
    <add key="Uri" value="https://icrs.demo.nbki.ru/products/B2BRequestServlet" />
    -->
    <add key="Uri" value="https://reports.demo.nbki.ru/products/B2BRequestServlet" />
    
    <!-- Source files path -->
    <add key="RequestsNew" value="." />
    
    <!-- Backup path of source files -->
    <add key="RequestsBak" value="REQ" />
    
    <!-- Error path of source files -->
    <add key="RequestsErr" value="ERR" />
    
    <!-- Result P7B files-->
    <add key="ResultsP7b" value="XML\Signed" />

    <!-- Result XML files-->
    <add key="ResultsXml" value="XML" />

    <!-- Extra Result 000 XML files-->
    <add key="ResultsExtra" value="XML\Extra" />

    <!-- NBKI server credentials -->
    <!-- Отпечаток сертификата сервера (в Других пользователях) -->
    <add key="ServerThumbprint" value="" />

    <!-- NBKI user credentials -->
    <!-- Отпечаток сертификата в Личных у Пользователя -->
    <add key="MyThumbprint" value="9711017479F28F3070128EE18B905EA6FB5FEBD8" />
    <!-- Учетные данные участника и исполнителя выдаются НБКИ по официальному запросу -->
    <add key="MemberCode" value="********" />
    <add key="UserID" value="********" />
    <!-- Useable also CLI Password=**** to override stored -->
    <add key="Password" value="********" />

    <!-- Options (0/1)-->
    <!-- Делать ли запрос на сайт или только локальное тестирование -->
    <add key="DoRequests" value="0" />
    <!-- Проверять ли достоверность сервера по сертификатам -->
    <add key="ValidateServer" value="1" />
    <!-- Использовать ли двустороннюю аутентификацию TLS -->
    <add key="UseCertificate" value="1" />
    <!-- Сохранять ли полученные файлы с подписью PKCS#7 .p7s -->
    <add key="SaveSigned" value="0" />
    <!-- Извлекать ли каждый кредит отдельно -->
    <add key="DoExtra" value="1" />
    <!-- Извлекать ли только активные кредиты -->
    <add key="ActiveOnly" value="0" />
    <!-- Ожидать ли нажатия клавиши для выхода -->
    <add key="PressEnter" value="1" />
  </appSettings>
</configuration>
